# Based on LLVM, but with common "modern" adjustments
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
ColumnLimit: 100
IndentWidth: 4
Standard: Latest
UseTab: Never
# Keeps your Matrix header includes organized
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '.*'
    Priority: 2

